@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');
}

@font-face {
    font-family: 'Staatliches', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');
}
body {
    background-color: rgb(28, 35, 49);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}