@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

#about {
    background-color: #171A21;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 3% 7% 3% 7%;
    margin: auto;
}
#about p {
    text-align: center;
}
#about h1 {
    color: #26408B;
    font-family: 'Staatliches', sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 35px;
}
#about h2 {
    font-family: 'Staatliches', sans-serif;
    color: #26408B;
    font-size: 40pt;
    font-weight: bolder;
    margin-bottom: 0px;
    background: url("../_img/background.png") no-repeat center;
}
#about h5{
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 13pt;
}
#about h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    
}
#aboutButton {
    background-color: #171A21;
    color: #ffffff;
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
#aboutButton button {
    background-color: #26408B;
    color: #ffffff;
    font-family: 'Staatliches', sans-serif;
    font-weight: bolder;
    border: none;
    box-shadow: 1px 1px 2px #000000;
    display: block;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 50px;
    margin: auto;
}
#aboutButton button:hover {
    background-color: #ffffff;
    color: #26408B;
    transition: 0.3s;
    cursor: pointer;
}