@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

body {
    background-color: red;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}