@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

#footerDown {
    background-color: #171A21;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 12vh;
    width: 100%;
    box-sizing: border-box;
    padding: 3% 7% 3% 7%;
    margin: auto;
}
#footerDown h4 {
    font-size: 10pt;
    margin-top: 16%;
    margin-bottom: 0px; 
}