@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

html, body {
    background-color: #171A21;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    text-decoration-style: none;
}