@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap');

html, body {
    background-color: rgb(28, 35, 49);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    text-decoration-style: none;
}

#topMenu {
    background-color: rgba(28, 35, 49, 0.89);
    color: #ffffff;
    font-size: 14pt;
    font-family: 'Staatliches', sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px #000000;
    display: flex;
    margin: 0px;
    width: 100%;
    position: fixed;
    padding: 0px 58px 0px 58px;
}

#topMenu li {
    list-style: none;
    display: block;
    align-content: center;
    padding: 20px 16px 20px 16px;
}

#topMenu li:first-child {
    margin-right: auto;
}

#topMenu img {
    width: 100px;
}

#topMenu a {
    color: #ffffff;
}

#topMenu a:hover {
    color: #26408B;
    transition: 0.3s;
}

#presentation {
    background-color: rgb(28, 35, 49);
    font-weight: bolder;
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 70px 70px 70px 70px;
    margin: auto;
}

#presentation h1 {
    font-size: 40pt;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 0px;
}

#presentation h2 {
    font-weight: bolder;
    margin-top: 2%;
}

#presentation h3 {
    font-size: 40pt;
    font-weight: bolder;
    margin-bottom: 0px;
}

#presentation button {
    background-color: #26408B;
    color: #ffffff;
    font-size: 14pt;
    font-family: 'Staatliches', sans-serif;
    font-weight: bolder;
    border: none;
    box-shadow: 2px 2px 4px #000000;
    display: flex;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 50px;
}

#presentation button:hover {
    background-color: #ffffff;
    color: #26408B;
    transition: 0.3s;
    cursor: pointer;
}

table {
    align-items: center;
    margin-top: 10%;
    margin-bottom: 13%;
}

#about {
    background-color: rgb(28, 35, 49);
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 70px 70px 70px 70px;
}

#about h1 {
    color: #26408B;
    font-family: 'Staatliches', sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 3%;
    margin-bottom: 3%;
}

#about h2 {
    font-family: 'Staatliches', sans-serif;
    color: #26408B;
    font-size: 40pt;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 0px;
    background: url("../img/background.png") no-repeat center;
}

#about h5 {
    margin-top: 0px;
    margin-bottom: 3%;
    font-size: 13pt;
}

#about h4, h3 {
    font-size: 12pt;
    margin-top: 3%;
    margin-bottom: 0px;
}

#aboutButton button {
    background-color: #26408B;
    color: #ffffff;
    font-size: 14pt;
    font-family: 'Staatliches', sans-serif;
    font-weight: bolder;
    border: none;
    box-shadow: 2px 2px 4px #000000;
    display: flex;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 50px;
    margin: auto;
    margin-bottom: 2%;
}

#aboutButton button:hover {
    background-color: #ffffff;
    color: #26408B;
    transition: 0.3s;
    cursor: pointer;
}

#portfolio {
    background-color: rgb(28, 35, 49);
    color: #ffffff;
    font-weight: bolder;
    display: inline-block;
    height: 220vh;
    width: 100%;
    box-sizing: border-box;
    padding: 70px 70px 70px 70px;
    flex-direction: column;
}

#portfolio h2 {
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    color: #26408B;
    font-size: 40pt;
    font-weight: bolder;
    background: url("../img/background.png") no-repeat center;
    margin-top: 2%;
}

#first table {
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 0px;
    vertical-align: top;
}

#first td {
    text-align: justify;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

#first h1 {
    color: #26408B;
    font-family: 'Staatliches', sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-bottom: 3%;
}

#first h3 {
    color: #ffffff;
    font-family: 'Staatliches', sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 0px;
}

#first p {
    width: 500px;
    font-size: 10pt;
}

#firstButton button {
    background-color: #26408B;
    color: #ffffff;
    font-size: 12pt;
    font-family: 'Staatliches', sans-serif;
    font-weight: bolder;
    border: none;
    box-shadow: 2px 2px 4px #000000;
    display: inline-block;
    box-sizing: border-box;
    padding: 18px;
    border-radius: 30px;
    margin: auto;
    margin-right: 10px;
}

#firstButton button:hover {
    background-color: #ffffff;
    color: #26408B;
    transition: 0.3s;
    cursor: pointer;
}

#first img {
    width: 550px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    box-shadow: 6px 6px 9px #000000;
    margin-left: 0px;
    margin-right: 30px;
}

#first img:hover {
    box-shadow: 3px 3px 9px #ffffff;
    transition: 0.3s;
}

#second table {
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 0px;
    vertical-align: top;
}

#second td {
    text-align: justify;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

#second h1 {
    color: #26408B;
    font-family: 'Staatliches', sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-bottom: 3%;
}

#second h3 {
    color: #ffffff;
    font-family: 'Staatliches', sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 0px;
}

#second p {
    width: 500px;
    font-size: 10pt;
}

#secondButton button {
    background-color: #26408B;
    color: #ffffff;
    font-size: 12pt;
    font-family: 'Staatliches', sans-serif;
    font-weight: bolder;
    border: none;
    box-shadow: 2px 2px 4px #000000;
    display: inline-block;
    box-sizing: border-box;
    padding: 18px;
    border-radius: 30px;
    margin: auto;
    margin-right: 10px;
}

#secondButton button:hover {
    background-color: #ffffff;
    color: #26408B;
    transition: 0.3s;
    cursor: pointer;
}

#second img {
    width: 550px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px #000000;
    margin-left: 30px;
    margin-right: 0px;
}

#second img:hover {
    box-shadow: 3px 3px 9px #ffffff;
    transition: 0.3s;
}

#moreProjects {
    align-content: center;
    text-align: center;
}

#moreProjects h2 {
    margin-top: 6%;
    margin-bottom: 0px;
}

#moreProjects h4 {
    margin-top: 0px;
    margin-bottom: 3%;
}

#moreProjects i {
    font-size: 18pt;
}

#moreProjects img {
    width: 800px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px #000000;
}

#moreProjects img:hover {
    box-shadow: 3px 3px 9px #ffffff;
    transition: 0.3s;
}

#contact {
    background-color: rgb(28, 35, 49);
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    box-sizing: border-box;
    padding: 70px 70px 70px 70px;
}

#contact h2 {
    font-family: 'Staatliches', sans-serif;
    color: #26408B;
    font-size: 40pt;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 0px;
    background: url("../img/background.png") no-repeat center;
}

#contact h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13pt;
}

#contactIcon i {
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 80pt;
    color: #ffffff;
}

#contactIcon i:hover {
    color: #26408B;
    transition: 0.3s;
}

#footer {
    background-color: rgb(28, 35, 49);
    color: #ffffff21;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 20px 70px 20px 70px;
}

#footer h4 {
    font-size: 6pt;
}
